@charset "UTF-8";

body {
  background-color: black;
  font-family: "Lucida Sans", Arial;
  color: white;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

a:link {
  padding: 0pt 2pt;
  color: red;
}
a:hover {
  padding: 0pt 2pt;
  color: black;
  background-color: red;
  text-decoration: line-through;
}
a:visited{
  padding: 0pt 2pt;
  color: #aab;
}
a:active{
  padding: 0pt 2pt;
  color: #336600;
}
a img {
  border: none;
}

h1, h2, h3, p, li, dl, dt, dd {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "IPAex明朝", IPAexMincho, serif;
}
h1 {
  font-size: 180%;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: larger;
}

p {
  letter-spacing: 1px;
  margin-left: 15px;
}
.center p{
  font-size: 95%;
}
p.ss {
  font-size: 90%;
}

em {
  font-style: normal;
}
strong {
  font-style: normal;
  font-weight: bold;
  line-height: 1.5em;
  border-color: #bb3366;
  border-style: none none double;
}

dl {
  margin: 1%;
}

dt {
  font-size: large;
}
dd {
  font-size: large;
  margin-left: 2%;
}
hr {
  border: 0.5px white solid;
}

.center li {
  font-size: 130%;
}
li {
  font-size: 100%;
  list-style-position: inside;
}
li.no {
  list-style-type: none;
}

/* DM */
section.letter ul li {
  font-size: larger;
  margin: 0%;
}

/* For index page */
#rain_logo {
  height: 20%;
  margin: 0% 0% 0% 0%;
}
div.main {
  display: flex;
}
div.left {
  height: 80%;
  margin: 0% 5% 0% 0%;
}
div.right {
  padding: -10%;
  margin: 0%;
  clear: none;
}
.right section.menu h2 {
  font-size: 200%;
  margin: 0%;
}
section.menu {
  margin: 5% 0% 0% 0%;
}
section.menu ul {
  list-style-type: square;
}
section.menu ul li {
  font-size: 150%;
}
.last_update h2 {
  font-size: 130%;
  margin: 0%;
}
.last_update ul {
  list-style-type: japanese-formal;
}
.last_update ul li {
  font-size: 120%;
  margin: 0%;
}
p.other_language_guide {
  font-size: 120%;
  margin: 0%;
}
@media screen and (max-width: 480px) {
  img#rain_logo {
    height: 10%;
  }
}

@media screen and (min-width: 481px) {
  /* For index page */
  img#rain_logo {
    height: 15%;
  }
}
