@charset "UTF-8";

body  {
  background-color:black;
  font-family: "Lucida Sans", Arial;
  color:  white;
}
.center  {
  text-align: center;
}

a:link  {
  padding:0pt 2pt;
  color:red;
}
a:hover  {
  padding:0pt 2pt;
  color: black;
  background-color: red;
  text-decoration:line-through;
}
a:visited{
  padding:0pt 2pt;
  color: #aab;
}
a:active{
  padding:0pt 2pt;
  color: #336600;
}
a img  {
  border:none;
}

h1  {
/*  text-align:center; */
  font-size:180%;
}
h2  {
  font-size:150%;
}
h3  {
  font-size: 100%;
  font-weight: normal;
  margin-left: 25px;
}

p  {
  letter-spacing: 1px;
  margin-left: 15px;
}
.center p{
  font-size:95%;
}
p.ss  {
  font-size:90%;
}

em  {
  font-style:normal;
}
strong  {
  font-style:normal;
  font-weight:bold;
  line-height: 1.5em;
  border-color: #bb3366;
  border-style: none none double;
}

.center li{
  font-size:130%;
}
li  {
  font-size: 100%;
  list-style-position: inside;
}
li.no  {
  list-style-type: none;
}

div.left{
  float:left;
}
div.right{
  clear:right;
}
div.menu{
  margin: 5%;
}
div.notice{
  filter: Alpha(opacity=90 ,style=1);
  margin: 5%;
}
